.slider {
  position: relative;
  overflow: hidden;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img:first-child {
  opacity: 1;
}

.slider img.active {
  opacity: 1;
}

.slider img.inactive {
  opacity: 0;
}